<ion-header-bar align-title="center" class="bar-subheader bar-stable">
<h1 class="title">Settings</h1>
</ion-header-bar>    
      <div class="tabs tabs-icon-top">
      	<a class="tab-item" ng-href="#calendar/month/{{curdate}}" id="calendarTab" ng-click="tabSelect('calendarTab')">
      		Calendar
      	</a>
      	<a class="tab-item" ng-href="#group" id="groupTab" ng-click="tabSelect('groupTab')">
      		Groups
      	</a>
      	<a class="tab-item tab-item-active" ng-href="#event" id="eventTab" ng-click="tabSelect('eventTab')">
      		Events
      	</a>
      	<a class="tab-item" ng-href="#settings" id="settingsTab" ng-click="tabSelect('settingsTab')">
      		Settings
      	</a>
      </div>
    	
  
<ion-content class="content">
<p> (placeholder for buttons) </p>
</ion-content>