<ion-header-bar align-title="center" class="bar-subheader bar-stable">
<h1 class="title">My Events</h1>
</ion-header-bar>
<ion-content class="content">

<h3 ng-if="message">{{message}}</h3>
<div class="list list-inset">
<label class="item item-text-wrap item-inset">
	<input class="createEvent" name="eventName" type="text" placeholder="Name" ng-model="Event.eventName" required></input>
</label>
<label class="item item-text-wrap item-inset">
	<input class="createEvent" name="EventDesc" type="text" placeholder="Description" ng-model="Event.eventDescription" required></input>
</label>
<label class="item item-text-wrap item-inset">
	<input class="createEvent" name="EventLoc" type="text" placeholder="Location" ng-model="Event.eventLocation" required></input>
</label>
<div id="text" class="item item-toggle">
Text
<label class="toggle toggle-positive">
<input type="checkbox" ng-model="event.text">
<div class="track">
<div class="handle"></div>
</div>
</label>
</div>
<div id="push" class="item item-toggle">
Push Notification
<label class="toggle toggle-positive">
<input type="checkbox" ng-model="event.push">
<div class="track">
<div class="handle"></div>
</div>
</label>
</div>
<div id="email" class="item item-toggle">
Email
<label class="toggle toggle-positive">
<input type="checkbox" ng-model="event.email">
<div class="track">
<div class="handle"></div>
</div>
</label>
</div>
<label id="date" class="item item-input">
  <span class="input-label">Date</span>
  <input type="date" ng-model="Event.eventDate" required>
</label>
<label id="time" class="item item-input">
  <span class="input-label">Time</span>
  <input type="time" ng-model="Event.eventTime" required>
</label>
</div>
<a id="save" ng-click="editEvent()" class="button button-block button-positive">Save Event</a>
<a id="delete" ng-click="deleteEvent()" class="button button-block button-assertive">Delete Event</a>
<a id="cancel" ng-href="#event" class="button button-block">Cancel</a>
</ion-content>