<ion-header-bar align-title="center" class="bar-subheader bar-stable">
	<h1 class="title">Event</h1>
</ion-header-bar>

<ion-content class="content">
	<div class="list list-inset">
		<label class="item item-text-wrap item-inset">
			{{Event.eventName}}
		</label>
		<label class="item item-text-wrap item-inset">
			{{Event.eventDescription}}
		</label>
		<label class="item item-text-wrap item-inset">
			{{Event.eventLocation}}
		</label>
		<label class="item item-text-wrap item-inset">
			{{Event.eventDate.toLocaleDateString();}}
		</label>
		<label id="time" class="item item-text-wrap item-inset">
  			{{Event.eventTime.toLocaleTimeString(navigator.language, {hour: '2-digit', minute:'2-digit'});}}
		</label>
	</div>
	<div id="alertGrid">
		<div class="list"> 
			<div class="item item-divider center">Alerts</div>
			<div class="item item-text-wrap" ng-repeat="alert in alerts">
				<div class="row">
        		    <div class="col">{{alert.name}}</div>
            		<div class="col" style="text-align:right">{{alert.datetime}}</div>
        		</div>
			</div>
			<div class="item" ng-if="alerts.length == 0">No Alerts</div>
		</div>
	</div>
<a id="edit" ng-href="#editevent" class="button button-block button-positive">Edit Event</a>
<a id="cancel" ng-href="#event" class="button button-block">Cancel</a>
</ion-content>