<ion-header-bar align-title="center" class="bar-subheader bar-stable">
<h1 class="title">Add Group</h1>
</ion-header-bar>
<ion-content class="content">
<h3 ng-if="message">{{message}}</h3>
<div class="list list-inset">
	<label class="item item-text-wrap item-inset">
		<input class="createGroup" name="GroupName" ng-model="gname" id="name" type="text" placeholder="Name" required></input>
	</label>
	<label class="item item-text-wrap item-inset">
		<input class="createGroup" name="GroupDesc" ng-model="gdesc" id="desc" type="text" placeholder="Description" required></input>
	</label>

	<label class="item item-text-wrap item-inset">
		<input class="createGroup" name="GroupInvite" type="text" placeholder="Invite members by email (seperate by commas)" required></input>
	</label>
</div>

<a class="button button-block button-positive" ng-click="add()">Create Group</a>
<a class="button button-block" ng-href="#group">Cancel</a>

</ion-content>